@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-family: Be Vietnam Pro;
    background: rgb(25, 25, 32);
}

a {
    color: rgb(255, 255, 255);
}

.char {
    display: block;
    width: fit-content;
    font-size: 10vw;
    text-align: center;
    font-family: Be Vietnam Pro;
    font-weight: 700;
    color: white;
}

.checker {
    display: flex;
    width: fit-content;
    padding: 1vw;
    font-size: 1.2vw;
    background: #d28e18;
    color: white;
    border-radius: 1vw;
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 1.4vw !important;
}

.buttons {
    display: flex;
    width: 100%;
    margin: 1vw;
    text-align: center;
    justify-content: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 15vw;
    padding: 1.5vw;
    margin: .5vw;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1vw;
    border: none;
    color: white;
    font-family: Be Vietnam Pro;
    background: rgb(33, 33, 42);
    border-radius: 1vw;
    transition: .5s;
}

button:hover {
    transform: scale(1.1);
}

.characters {
    width: 100%;
    text-align: center;
}

select {
    width: 15vw;
    padding: .7vw;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1vw;
    border: none;
    color: white;
    font-family: Be Vietnam Pro;
    background: rgb(33, 33, 42);
    border-radius: 1vw;
    transition: .5s;
}

.charat {
    display: block;
    width: fit-content;
    font-size: 10vw;
    margin: 0;
    text-align: center;
    font-family: Be Vietnam Pro;
    font-weight: 700;
    color: #fff4;
}

.charcon {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer {
    color: #fff4;
    margin: .5vw;
    font-size: 1vw;
}

.mainh1 {
    background: -webkit-linear-gradient(#0032b7, #0aabff, #14efc8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    width: 100%;
    font-size: 10vw;
    margin: 0;
    text-align: center;
    font-family: Be Vietnam Pro;
    font-weight: 900;
    color: white;
}

.ui {
    display: flex;
    width: 35vw;
    height: auto;
    align-items: center;
    margin: .5vw;
    font-size: 1vw;
    padding: .5vw;
    border-radius: 2vw;
    background: rgb(33, 33, 42);
    color: white;
}

.pfp {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    margin: .5vw;
    transition: .6s;
    -o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pfp:hover {
    transform: scale(1.2);
}


.channels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: .5vw;
}

.topheader {
    color: white;
    width: 100%;
    text-align: center;
    margin: .5vw;
    font-weight: 900;
    font-size: 3vw;
}

.loading {
    color: white;
    width: 100%;
    text-align: center;
    margin: 1vw;
    font-size: 2vw;
}

.input {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: 1vw;
    font-size: 1vw;
}

.refresh {
    width: 1vw;
    height: 1vw;
}

.channelinfo {
    display: flex;
    flex-direction: column;
}

.top3 {
    display: none;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: flex-end;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    background: #f3ae007b;
    width: 13vw;
    height: 15vw;
    border-radius: 2vw;
    margin: .5vw;
    padding: .5vw;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    background: #6363677b;
    width: 13vw;
    height: 10vw;
    border-radius: 2vw;
    margin: .5vw;
    padding: .5vw;
    color: white;
}

.third {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    background: #6b3a027b;
    width: 13vw;
    height: 10vw;
    border-radius: 2vw;
    margin: .5vw;
    padding: .5vw;
    color: white;
}

.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    color: white;
}
